extends layout.pug

block content
  link(rel="stylesheet", href="/stylesheets/vault.css")
  link(rel='stylesheet' href='/stylesheets/games.css')
  div(class="game-container")
    div(class="game-img-container" style=`background-image: url(${game.img_url});`)
    div.game-info
      h1= game.name
      h2(id='publisherH2')= game.publisher
      div.reviews-container
        div(id='starContainer')
          div(id='emptyStars')
            img(src='/media/empty_stars.png')
          div(id='filledStars' style=`width:${starWidth}`)
            img(src='/media/filled_stars.png')
        h2(id='averageStars') #{average}
        span #{numReviews} Review(s)
      p= game.synopsis
      if loggedInUser
        div.add-collection
          form(action="", method="get")
            select(name='collection_id' id='collection_id' required)
              each collection in userCollections
                option(value=`${collection.id}`)= collection.name
          button(type="submit" id='gamePageAdd') Add to Collection
  if reviews
    div(class="big-review-container")
      h2 Reviews and Ratings
      each review in reviews
        div(class="ind-review" id=`review-container-${review.id}`)
          div(class="user-rated-stars")
            p #{review.User.username}
              span rated #{review.stars}
          div(class="review-and-button")
            p(id=`reviewContent-${review.id}`)=review.content
            if loggedInUser === review.user_id
              div(class="delete-and-edit")
                div(id=`edit-review-${review.id}` class="edit-btn")
                  object(data='../media/editIcon.svg' id='svgEditIcon')
                div(class="delete-btn" id=`delete-review-${review.id}`)
                  object(data='../media/deleteIcon.svg' id='svgDeleteIcon')
              div(class='edit-review-blocker' id=`edit-review-blocker-${review.id}`)
              div(id='edit-review-form-container')
                form(class='hidden edit-form' id=`edit-form-review-${review.id}`)
                  div(id='label-container')
                    label(id='content-label') Content
                  div(id='review-content-container')
                    textarea(type='text' name='content' id=`${review.id}-edit-content` class='edit-review')=review.content
                  div(id='edit-review-button-container')
                    button(class='submit-button' type='submit' name='review-submit' id=`edit-submit-${review.id}`) Submit
  if loggedInUser
    div.ratings-container
      form(action=`` method="get")
        select(name='ratings' id='ratings' required)
          option(value='1') 1
          option(value='2') 2
          option(value='3') 3
          option(value='4') 4
          option(value='5' selected=true) 5
        textarea(name="content" id="content" required)
        input(type="button" id="postReview" value='Add review')

  script(src='/javascripts/gamePageAdd.js')
  script(src='/javascripts/reviews.js')
