extends layout.pug

block content
  link(rel="stylesheet", href="/stylesheets/vault.css")
  link(rel='stylesheet' href='/stylesheets/games.css')
  div.game-container
    img(src=game.img_url id='gameImg')
    div.game-info
      h1= game.name
      h2= game.publisher
      h2= game.synopsis
      if loggedInUser
        div.add-collection
          form(action="", method="get")
            select(name='collection_id' id='collection_id' required)
              each collection in userCollections
                option(value=`${collection.id}`)= collection.name
          button(type="submit" id='gamePageAdd') Add to Collection
  if reviews
    div.reviews-container
      h2 #{numReviews} Review(s)
      div(id='starContainer')
        div(id='emptyStars')
          img(src='/media/empty_stars.png')
        div(id='filledStars' style=`width:${starWidth}`)
          img(src='/media/filled_stars.png')
    h4 Average: #{average} / 5 
    ul
      each review in reviews
        div(class="ind-review" id=`review-container-${review.id}`)
          p #{review.User.username} rated
            span=review.stars
          p(id=`reviewContent-${review.id}`)=review.content
          if loggedInUser === review.user_id
            button(class="delete-btn" id=`delete-review-${review.id}`) Delete
            button(class="edit-btn" id=`edit-review-${review.id}`) Edit
            form(class='hidden' id=`edit-form-review-${review.id}`)
              label Content
              input(type='text' name='content' value=review.content id=`${review.id}-edit-content`)
              button(type='submit' name='review-submit' id=`edit-submit-${review.id}`) Submit
  if loggedInUser
    div.ratings-container
      form(action=`` method="get")
        select(name='ratings' id='ratings' required)
          option(value='1') 1
          option(value='2') 2
          option(value='3') 3
          option(value='4') 4
          option(value='5' selected=true) 5
        textarea(name="content" id="content" required)
        input(type="button" id="postReview" value='Add review')

  script(src='/javascripts/gamePageAdd.js')
  script(src='/javascripts/reviews.js')