extends layout.pug 

block content
  link(rel="stylesheet", href="/stylesheets/vault.css")
  h1= game.name
  h2= game.publisher 
  h2= game.synopsis
  div 
    img(src=game.img_url)
  button(type="submit") Add to Collection
  if reviews
    ul 
      each review in reviews
        div(class="ind-review")
          p #{review.User.username} rated 
            span=review.stars
          p=review.content 
  if loggedInUser
    form(action=`/games/${game.id}/reviews` method="post")
      textarea(name="content" id="content" required) 
      button(type="submit" id="postReview") Add review
  script(src='/javascripts/postReview.js')