mixin errors(errors)
  if errors
    p The following error(s) were found in the form
    ul
      each error in errors
        li= error

mixin playedStatusDropDown(status, game)
    option(value=status.id selected=(`${status.id}`===`${game.Entry.played_status_id}`))= status.status


mixin gameCard(game)
  div(class='card')
    .game-title
      p= game.name
    a(href=`/games/${game.id}`)
      div(class='home-img' style=`background-image: url(${game.img_url});`)

mixin deleteButton(gameId)
  input(class='delete-button' type='button' id=`delete-${gameId}` value='Remove from Collection')

mixin collectionGameCard(game)
  div(class='card' id=`card-${game.id}`)
    .game-title
      p= game.name
    a(href=`/games/${game.id}`)
      div(class='home-img' style=`background-image: url(${game.img_url});`)
    +deleteButton(game.id)
    select(id=`${game.id}` class='status-update' data-collection=game.Entry.collection_id)
      each status in allStatuses
        +playedStatusDropDown(status, game)

mixin imgCheckbox(id)
    label(for=id)
      img(src=`/media/icons/${id}.png`)
    input(type='checkbox' id= id class='userIconSel' value=`/media/icons/${id}.png` name='icon')
