extends layout.pug
include utils.pug

block content
    link(rel="stylesheet" href="/stylesheets/main.css")
    link(rel="stylesheet" href="/stylesheets/vault.css")
    link(rel="stylesheet" href="/stylesheets/form.css")
    div(id='user-info')
        img(src=user.icon id='liveIcon')
        div(id="user-info-text")
          h1(id='liveName')=user.username
           span
            button(type='button' id='editProfile') Edit
          h2(id='liveBio') Bio: #{user.bio}
    div(id='entries')
        div(id='collections')
            div(id='title-and-add')
              h2 My Collections
              a(href='/collections/new')
                button(type='button' id='new-collection') Add a new collection!
            each collection in collections
                a(href=`/collections/${collection.id}`)
                  h4= collection.name
                p= collection.description
                div(id='gamesContained')
                  div(id='games')
                      each game in collection.Games
                        +gameCard(game)
                  div(id='seeMore')
                    a(href=`/collections/${collection.id}`)
                      div(id='arrBtnContainer')
                        object(data='/../media/purpArrow.svg' id='arrowMore')
                        div(id='moreGames')
                          p Full Collection
    div(class='editForm' id='editDetails')
      form(id='editFormitself')
        img(src=user.icon id='editIconImg')
        label(for='editName') Name:
        input(type='text' id='editName' value=user.username disabled)
        label(for='editBio') Bio:
        textarea(id='editBio' rows='5' cols='5')= user.bio
        input(type='button' id='cancelChanges' value='Cancel')
        input(type='button' id='saveChanges' value='Save')
    div(class='editForm' id='editIcon')
      form()
        fieldset(id='iconSelection')
          legend= 'Choose your character'
          +imgCheckbox('icon1')
          +imgCheckbox('icon2')
          +imgCheckbox('icon3')
        input(type='button' id='cancelIconChange' value='Cancel')
        input(type='button' id='saveIconChange' value='Save')

    script(src='/javascripts/editProfile.js')
    script(src='/javascripts/deleteCollection.js')
