extends layout.pug

block content
    div(id='user-info')
        img
        h1=user.username
        h2 Bio: #{user.bio}
    div(id='entries')
        div(id='collections')
            h3 Collections
            each collection in entries.Collections
                h4= collection.name
                p= collection.description
                div(id='games')
                    each game in entries.Games
                        img(src=game.img_url)
    input(type='button' value='Add a New Collection')

    footer
